<h1 mat-dialog-title>Add new entry for: {{ dialogTitle }}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="calendarEntry.title" />
  </mat-form-field>
  <br />
  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput [(ngModel)]="calendarEntry.content"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="calendarEntry" cdkFocusInitial>Ok</button>
</div>
