.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.calendar-day {
  border: solid 1px lightgray;
  cursor: pointer;
}

.extra-day {
  padding: 0.5em;
  margin-top: 1em;
}
