<h1 mat-dialog-title>List {{ eventsForCurrentDay.length }} calendar entries</h1>
<div mat-dialog-content>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let event of eventsForCurrentDay">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ event.title }}
        </mat-panel-title>
        <mat-panel-description>
          [Le Kevin]
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{ event.content }}
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close] cdkFocusInitial>Ok</button>
</div>
